<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout/_adminLayout">
<head>
    <title>Admin - Unterkategorie</title>
</head>
<body layout:fragment="content">


<div class="siteHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h2>Unterkategorien</h2>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" placeholder="Nach Bezeichnung suchen" class="form-control"/>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#addCategorieModal"><i class="fa fa-plus" aria-hidden="true"></i> Neue Unterkategorie anlegen</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Bezeichnung</th>
                        <th>Gehört zu</th>
                        <th>Aktionen</th>
                    </tr>
                    <tr th:each="subcategory : ${subcategories}">
                        <td th:text="${subcategory.name}"></td>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


    </div>

</div>



</body>
</html>