<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout/_shopLayout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">

<div class="ui main text container">
    <h2 class="ui header">Über uns</h2>
    <p>1993 haben wir unseren Traum von einem eigenen Tabakwarenfachgeschäft Wirklichkeit werden lassen.</p>
    <p>Ein zweites Fachgeschäft folgte im Jahr 1996.</p>
    <p>Damals wie Heute leben wir unsere Leidenschaft für den Rauchgenuss.</p>
    <p>Mit unserer Fachkompetenz stehen wir auch in unserem Onlineshop Ihnen mit Rat und Tat zur Seite.</p>
    <p>Bei Fragen rund um den Genuss des Rauchens nutzen Sie gern das Kontaktfomular oder rufen Sie uns an.</p>
</div>



</body>
</html>